{% import 'macros/macros.j2' as macros %}
from __future__ import annotations

from typing import *

{% for imp in imports %}
import {{ imp }}
{% endfor %}

Unknown = Any

{% for member in module.members %}
{% if member.__class__.__name__ == "Variable" %}
{{ member.name }}: {{ member.datatype }} = {{member.value}}
{% elif member.__class__.__name__ == "Function" %}
{{ render_function(member, template_type="pyi") }}
{% elif member.__class__.__name__ == "Class" %}
{{ render_class(member, template_type="pyi") }}
{% endif %}
{% endfor %}
